@* @model Employee *@
@{
    ViewData["Title"] = "Privacy";
}
<h1>@ViewData["Title"]</h1>

@* <div class="card" style="width: max();">
    <div class="card-body">
        <h5 class="card-title">Employee Info</h5>
        <h6 class="card-subtitle mb-2 text-muted">@Model.Name</h6>
        <p class="card-text">Age: @Model.Age</p>
        <p class="card-text">Address: @Model.Address</p>
    </div>
</div> *@

<p>Use this page to detail your site's privacy policy.</p>
